*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#fff7f2;
}

header{
background:#ff7b54;
padding:18px;
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.container{

display:grid;

grid-template-columns:1fr 400px;

gap:30px;

padding:40px;

}

.kiri,
.kanan{

background:white;

padding:25px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

input,
textarea,
select{

width:100%;

padding:14px;

margin:12px 0;

border:1px solid #ddd;

border-radius:8px;

}

textarea{

height:120px;

resize:none;

}

.item{

display:flex;

justify-content:space-between;

margin:15px 0;

}

button{

width:100%;

padding:15px;

background:#ff7b54;

color:white;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

margin-top:20px;

}

button:hover{

background:#e86845;

}