*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#fff7f2;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.success-card{

background:white;

padding:40px;

width:600px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

text-align:center;

}

.success-card i{

font-size:80px;

color:#28a745;

margin-bottom:20px;

}

.success-card h1{

margin-bottom:15px;

}

.success-card p{

color:#666;

margin-bottom:30px;

}

#detail-pesanan{

text-align:left;

background:#fafafa;

padding:20px;

border-radius:10px;

margin-bottom:25px;

}

.item{

display:flex;

justify-content:space-between;

margin:10px 0;

}

.total{

margin-top:15px;

font-size:20px;

font-weight:bold;

color:#ff7b54;

}

.btn-group{

display:flex;

justify-content:center;

gap:20px;

}

.btn{

padding:14px 30px;

background:#28a745;

color:white;

text-decoration:none;

border-radius:8px;

}

.orange{

background:#ff7b54;

}